@tailwind base;
@tailwind components;
@tailwind utilities;

/* .flex.min-h-full.flex-col.justify-center.py-12.sm\:px-6.lg\:px-8 {
    background-image: url("https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_1280.jpg");
    background-size: cover;
    background-position: center;
} */

.mx-auto.max-w-7xl.px-6.pb-32.pt-36.sm\:pt-60.lg\:px-8.lg\:pt-32 {
    background-color: #ffffff;
}

.animate-spin {
    animation: spin 1s linear;
}

.img-width{
    width: 800px;
}