@tailwind base;
@tailwind components;
@tailwind utilities;

/* .flex.min-h-full.flex-col.justify-center.py-12.sm\:px-6.lg\:px-8 {
    background-image: url("https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_1280.jpg");
    background-size: cover;
    background-position: center;
} */


img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}